<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="generator" content="not-gitbook">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" href="{{'../' * offset}}assets/styles/gitbook/style.css">
    <link rel="stylesheet" href="{{'../' * offset}}styles/website.css">
    {% for f in plugin_css_assets %}
        <link rel="stylesheet" href="{{'../' * offset}}styles/{{f}}.css">
    {% endfor %}
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <link rel="next" href="{{next}}" />



    <link rel="canonical" href="{{canonical}}">

</head>

<body>
    <div class="book">
        <div class="book-summary">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search" />
            </div>
            <nav role="navigation">
                {% for part, chapters in summary %}
                <h1>{{part}}</h1>
                <ul class="summary">
                    {% for title, md_file, subchapters in chapters %}
                    <li>
                        <a href="{{'../' * offset}}{{md_file|replace('.md', '.html')}}">{{title}}</a>
                    </li>
                    <ul>
                        {% for title, md_file in subchapters %}
                        <li>
                            <a href="{{'../' * offset}}{{md_file|replace('.md', '.html')}}">{{title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                    {% endfor %}

                    <li class="divider"></li>

                    <li>
                        <a href="https://gitlab.com/ralsina/not-gitbook" target="blank" class="gitbook-link">
                            Published with NotGitBook
                        </a>
                    </li>
                </ul>


            </nav>


        </div>

        <div class="book-body">

            <div class="body-inner">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        <a href=".">{{title}}</a>
                    </h1>
                </div>

                <div class="page-wrapper" tabindex="-1" role="main">
                    <div class="page-inner">

                        <div id="book-search-results">
                            <div class="search-noresults">

                                <section class="normal markdown-section">
                                    {{content}}
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# FIXME: positioning of the prev button is hidden by nav-sidebar #}
            <a href="{{prev}}" class="navigation navigation-prev" aria-label="Previous page: {{prev_title}}">
                <i class="fa fa-angle-left"></i>
            </a>
            <a href="{{next}}" class="navigation navigation-next" aria-label="Next page: {{next_title}}">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
</body>

</html>